
body {
    background-color: rgb(44, 44, 44);
    color: white;
}
h1 {
    text-align: center;
}
#colorDisplayed {
    font-size: 22px;
    font-weight: 800;
}
.navbar {
    background-color: rgb(207, 207, 207);
    color: rgb(100, 100, 255);
    text-align: center;
    padding: 10px;
}
.result {
    padding: 15px;
}
button {
    background-color: rgb(207, 207, 207);
    border: none;
}

.square {
    width: 30%;
    background-color: rgb(133, 4, 133);
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 10%;
}
.container {
    margin: 0 auto;
    max-width: 600px;
}
h1 {
    color: white;
}