
body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: 'Poiret One', cursive;
}
h1 {
    background-color: rgb(28, 126, 156);
    text-align: center;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}
#colorDisplayed {
    background-color: rgb(28, 126, 156);
    font-size: 22px;
    font-weight: 800;
    display: block;
    text-align: center;
    padding-bottom: 18px;
}
.navbar {
    background-color: rgb(207, 207, 207);
    text-align: center;
    padding: 10px;
}
.result {
    padding: 15px;
    margin: 0 auto;
}
button {
    background-color: rgb(207, 207, 207);
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

.square {
    width: 30%;
    background-color: rgb(133, 4, 133);
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 10%;
}
.container {
    margin: 0 auto;
    max-width: 600px;
}
.selected {
    background-color: rgb(28, 126, 156);
    color: rgb(207, 207, 207);
}